.lpc-main{
  background: linear-gradient(
  145deg,
  rgba(173, 216, 230, 0.1), /* Light Blue at top-left corner */
  rgba(204, 229, 255, 0.4), /* Soft Blue */
  rgba(240, 248, 255, 0.5), /* Off-white with a blueish tint */
  rgba(173, 216, 230, 0.1) /* Light Blue at bottom-right corner */
);

  padding-bottom: 10vh;
  padding-top: 1vh;
}

.lpc-samples-section, .lpc-orders-section{
  background: linear-gradient(
    135deg,
    #4f4f4f 0%,     /* Light gray */
    #585858 30%,     /* Mid gray */
    #636363 60%,     /* Darker gray */
    #707070 100%     /* Darkest gray */
);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2vh;
  height: 75vh;
  width: 195vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.lpc-samples-section h2, .lpc-orders-section h2{
  color: white;
  text-decoration: underline;
  text-align: left;
  margin-left: 1vw;
}

.lpc-samples-section-header, .lpc-orders-section-header{
  background: linear-gradient(
  145deg,
  rgba(255, 255, 255, 0.6),
  rgba(245, 245, 255, 0.9),
  rgba(240, 240, 255, 0.8)
);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2vh;
  margin: 1vh;
  height: 7vh;
}

.section-header-button-1{
  background-color: #5bb4aa;
}

.section-header-button-2{
  background-color: #368c80;
}

.section-header-button-3{
  background-color: #2a6f75;
}

.section-header-button-1, .section-header-button-2, .section-header-button-3{
  width: 20vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 2vh;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
}

.section-header-button-1:hover, .section-header-button-2:hover, .section-header-button-3:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
  transform-origin: center;
}

.lpc-samples-list, .lpc-orders-list{
  background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.6),
      rgba(245, 245, 255, 0.9),
      rgba(255, 240, 250, 0.8)
    );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2vh;
    margin: 1vh;
    height: 57vh;
    text-align: left;
    overflow-y: auto;
}

.lpc-orders-list{
  margin-right: 10px;
  border-radius: 2vh;
}


.lpc-orders-list::-webkit-scrollbar, .lpc-samples-list::-webkit-scrollbar {
  width: auto;
}



.lpc-order-card {
  display: flex;
  flex-direction: column;

  max-height: 62vh; /* Limit the height */
  padding-right: 2vh; /* Prevent the scrollbar from overlapping content */
  margin-bottom: 2vh; /* Add some spacing between cards */
}

.lpc-orders-solo-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  margin: 2vh;
  border-radius: 1.25vh;
  background-color: rgba(240, 240, 255, 0.8); /* A light lavender tint */
  padding-left: 4vh;
  padding-right: 0;
  max-height: 100%; /* Ensure it fits within the card */

}

.lpc-orders-solo-card p{
  border: 1px solid black;
  width: 15vw;
  height: 5vh;
  border-radius: 0.5vh;
  text-align: center;
  align-content: center;
}


.lpc-samples-card{
  display: flex;
  flex-direction: column;
  max-height: 62vh; /* Limit the height */
  padding-right: 2vh; /* Prevent the scrollbar from overlapping content */
  margin-bottom: 2vh; /* Add some spacing between cards */
  overflow-y: auto;
}

.lpc-samples-solo-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  margin: 2vh;
  border-radius: 1.25vh;
  background-color: rgba(240, 240, 255, 0.8); /* A light lavender tint */
  padding-left: 4vh;
  padding-right: 0;
  max-height: 100%; /* Ensure it fits within the card */
}