.sample-range-modal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    text-align: center;
    background: linear-gradient(
    135deg,
    #4f4f4f 0%,     /* Light gray */
    #585858 30%,     /* Mid gray */
    #636363 60%,     /* Darker gray */
    #707070 100%     /* Darkest gray */
    );
    border-radius: 2vh;
    border: 1px solid black;
}

.sample-range-modal h3, .sample-inputs-modal h3{
    font-size: larger;
    font-weight: bolder;
    margin-top: 6vh;
    margin-bottom: 1vh;
    color: white;
}

.sample-range-selector{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10vh;

}

.sample-range-selector button{
    font-size: 2vh;
    font-weight: 600;
}

.sample-range-buttons{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    height: 15vh;
    border-radius: 2vh;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sample-range-buttons:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Add shadow on hover */
    backdrop-filter: blur(12px);
    transform: scale(1.1);
}

/*sample inputs */

.sample-inputs-modal{
    display: grid;
    grid-template-rows: 1fr 5fr;
    text-align: center;
    background: linear-gradient(
    135deg,
    #4f4f4f 0%,     /* Light gray */
    #585858 30%,     /* Mid gray */
    #636363 60%,     /* Darker gray */
    #707070 100%     /* Darkest gray */
    );
    border-radius: 2vh;
    border: 1px solid black;
    overflow-y: auto;
    height: 50.5vh;
}

.sample-inputs-modal::-webkit-scrollbar{
    display: none;
}

/* range 1-5 */

.sample-inputs.range-1-5{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2vh;
}

.range-1-5 .sample-input-row input, .sample-input-row select,
.range-6-11 .sample-input-row input, .sample-input-row select,
.range-12-20 .sample-input-row input, .sample-input-row select
{
    padding: 1vh;
    border-radius: 1vh;
    margin: 0.25vw
}

.review-order-button.range-1-5,
.review-order-button.range-6-11,
.review-order-button.range-12-20,
.next-order-button
{
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 5vh;
    border-radius: 1vh;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #5bb4aa;
    color: white;
    text-decoration: underline;
    font-size: 1.75vh;
}

.review-order-button.range-1-5:hover,
.review-order-button.range-6-11:hover,
.review-order-button.range-12-20:hover,
.next-order-button:hover
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Add shadow on hover */
    backdrop-filter: blur(12px);
    transform: scale(1.1);
    text-decoration: none;
}

.sample-inputs.range-6-11,
.sample-inputs.range-12-20
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2vh;
}

.sample-input-row{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2vh;
    margin: 1vw;
    background-color: rgba(240, 240, 255, 0.8);
    height: fit-content;
}








