/* General Modal Layout */
.verification-modal {
    width: 60vw;         /* Make modal 60% of viewport width */
    max-height: 80vh;    /* Limit height to 80% of viewport */
    overflow-y: auto;    /* Allow vertical scroll if content overflows */
    padding: 2rem;       /* Add padding around modal */
    background: linear-gradient(
    135deg,
    #4f4f4f 0%,     /* Light gray */
    #585858 30%,     /* Mid gray */
    #636363 60%,     /* Darker gray */
    #707070 100%     /* Darkest gray */
    );
    border-radius: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
  }

  .verification-modal::-webkit-scrollbar{
    display: none;
  }
  
  .verification-modal h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  /* Section for verifying orders */
  .verifying-order-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-right: 10px;  /* Add some space on the right if scrolling */
  }
  
  /* Style for each individual order */
  .individual-order-verification {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 4px;
    background-color: #f9f9f9;
    border-radius: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5vh;
  }
  
  .individual-order-verification h3,
  .individual-order-verification p {
    text-align: center;
    margin: 0.5rem 0;
    margin-bottom: 2rem;
  }
  
  .individual-order-verification ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0;
    
  }

  .individual-order-verification li{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2vh;
    list-style-type: none;
    padding: 1vh;
  }
  
  /* Style for the buttons */
.verification-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  .verification-modal button {
    width: 20vh;
    height: 5vh;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 2vh;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    background-color: #5bb4aa;
    margin: 2vh;
    text-decoration: underline;
  }
  
  .verification-modal button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    color: white;
    text-decoration: none;
    transform-origin: center;
    cursor: pointer;
  }
  