.profile-button {
  background-color: #2a6f75;
  color: white;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 2vh;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 5vw;
  height: 5vh;
  margin-right: 1vw;
}

.profile-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
  transform-origin: center;
}

.logout-button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 2vh;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 5vw;
    height: 5vh;
  }

  .ul-info {
    right: 1vw;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 140px;
    min-width: fit-content;
    border: 2px solid black;
    padding: 0;
    margin-right: 0;
    list-style: none;
    background-color: white;
    border-radius: 4.25px;
  }
  
  .ul-sub-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin: 0;
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fa8072;
  }

  .profile-info-dropdown{
    z-index: 100;
    position: absolute;
  }

.settings-button{
  background-color: #2a6f75;
  color: white;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 2vh;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 5vw;
  height: 5vh;
}